# system
.DS_Store

# Node
npm-debug.log
node_modules/
.debug.js

# gulp
.debug.js

# bowser
.bower-cache
.bower-registry

# log
log/

# webpack 生成文件
client/dist/
client/dist/*
client/build
client/build/*

# editor
.idea
